    @if (User.Identity.IsAuthenticated)
    {
        <ul class="nav">
            <li>@Html.RouteLink("My Account", "Account_Home")</li>

            @if (User.IsInRole("Admin"))
            {
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Admin <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Accounts", "Index", "AdminAccounts")</li>
                        <li>@Html.ActionLink("Authorizations", "Index", "AdminAuthorizations")</li>
                    </ul>
                </li>
            }
        </ul>

        <div class="btn-group pull-right">
            <a class="btn btn-mini dropdown-toggle" data-toggle="dropdown" href="#">
                <i class="icon-user"></i>
                @User.FullName
                <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
                <li>@Html.RouteLink("Logout", "Logout")</li>
            </ul>
        </div>
    }
    else
    {
        @Html.RouteLink("Login", "Login", null, new { @class = "btn btn-mini btn-primary pull-right" })
    }
